#### Variable Length Arguments Positional and Keywords arguments

In [7]:
def print_numbers(*args):
    for numbers in args:
        print(numbers,end=' ')
        
print_numbers(1,2,3,4,5,6,'a','b')

1 2 3 4 5 6 a b

In [15]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value}')
        
print_details(fruits='Apple',count=10,price=15)

fruits:Apple
count:10
price:15

In [17]:
def print_all(*args,**kwargs):
    for val in args:
        print(f'Positional Arguments: {val}')
    for key,val in kwargs.items():
        print(f'Key Word Arguments: {key}:{val}')

print_all(1,2,3,4,5,6,'a','b',fruits=['Apple','Orange'],count=[10,15],price=[15,25])

Positional Arguments: 1
Positional Arguments: 2
Positional Arguments: 3
Positional Arguments: 4
Positional Arguments: 5
Positional Arguments: 6
Positional Arguments: a
Positional Arguments: b
Key Word Arguments: fruits:['Apple', 'Orange']
Key Word Arguments: count:[10, 15]
Key Word Arguments: price:[15, 25]

In [28]:
def calculate_total_cost(cart):
    total_cost = 0
    for i in cart:
        total_cost += i['price']*i['quantity']
    return total_cost
    
cart =[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Orange','price':0.7,'quantity':7}
    ]

calculate_total_cost(cart)

6.8999999999999995

In [34]:
# recursion

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(3)

6

In [35]:
# word count
def count_word_frequency(file_path):
    word_count = {}
    with open('file_path','r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word=word.lower().strip('.,!?;:')
                word_count[word]= word_count.get(word,0)+1
    return word_count

In [39]:
# email valaidation
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern,email)

print(is_valid_email('test@example.com'))

<re.Match object; span=(0, 16), match='test@example.com'>

#### Nested Statements and Scope LEGB rule

In [1]:
x = 25
def printer():
    x = 50
    return x

print(x)
print(printer())

25
50

In [5]:
name = 'THIS IS A GLOABL STRNG' #Global

def greet():
    #global x way to access global veriable within function
    name = 'Sammy' #Enclosing
    def hello():
        name = 'IM A LOCAL STRING' #Local
        print('hello ' + name)
    hello()
greet()

hello IM A LOCAL STRING

In [4]:
greet()

hello Sammy

#### Lambda Functions  
lambda argument:expression<br>
filter(function,iteration)<br>
map(function,iteration)

In [40]:
addition = lambda a,b:a+b
addition(3,5)

8

In [42]:
even = lambda a:a%2 == 0
even(10)

True

In [49]:
def apply_ops(*args,ops):
    return ops(args)

apply_ops(2,3,4,5, ops= sum) # applied buidin function
apply_ops(2,3,4,5, ops= len) 

num_list = [[2,8,11],[4,5,7,12],[8,9,10,11],[2,5,16]]
#find the max 3rd element
max(num_list,key = lambda x:x[2])

[2, 5, 16]

In [48]:
#MAP
x = [1,2,3,4,5]
y = map(lambda x:x**2,x)
list(y)

[1, 4, 9, 16, 25]

In [50]:
#MAP multiple iteration

num1 = [1,2,3]
num2 = [4,5,6]

num = list(map(lambda num1,num2:num1+num2,num1,num2))
num

[5, 7, 9]

In [54]:
# to convert list of string to integer

x =['1','2','3']

y = list(map(int,x))
y

[1, 2, 3]

In [59]:
### to conver from lower to uppder

words = ['apple','orange','banana']
y = list(map(str.upper,words))
y

['APPLE', 'ORANGE', 'BANANA']

In [63]:
def get_name(person):
    return person['apple'],person['quantity']

fruits = [ {'apple':'i like','quantity':12},
           {'apple':'soo good','quantity':24}
         ]
list(map(get_name,fruits))

[('i like', 12), ('soo good', 24)]

In [65]:
x = [1,2,3,4,5,6,7,8,9]

list(filter(lambda x:x%2==0,x))

[2, 4, 6, 8]

In [66]:
# greater than five

x = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x:x>5,x))

[6, 7, 8, 9]

In [67]:
# multiple condition

x = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x: x%2==0 and x > 5,x))

[6, 8]

In [69]:
x = [{'age':10},{'age':36},{'age':20}]

def age(x):
    return x['age'] > 25
list(filter(age,x))

[{'age': 36}]

In [2]:
# Area of rectangle
def area_of_rectangle(a,b):
    return a*b
print(f'Area of rectangle: {area_of_rectangle(2,7)}')

Area of rectangle: 14

In [5]:
#calculate_distance
def calculate_distance(speed, time):
    return speed * time
print(f'distance travelled:{calculate_distance(6,3)}')

distance travelled:18

In [8]:
#Function to calculate the number of rounds the lift needs to cover.

def calculate_lift_rounds(n, capacity):
    x = n/capacity
    return int(x)
    
print(f'Number of rounds: {calculate_lift_rounds(100,5)}' )

Number of rounds: 20

In [10]:
# Function to calculate the value of y using the slope-intercept form of a line.
def calculate_y(slope, intercept, x):
    y = x*intercept+slope
    return y

print(f' value of y : {calculate_y(2,5,1)}' )

 value of y : 7

In [48]:
with open('exp.txxt','r') as file:
    for line in file:
        print(line.strip())

this is wrting to a file a a

In [45]:
a = 'this is wrting to a file a a'

with open('exp.txxt','w') as file:
    file.write(a)

In [59]:
x = open('exp.txxt','r')
lines = x.readlines()[0][::-1].split()

dic = {}
for i in lines:
    dic[i] = dic.get(i,0)+1
    print(i)

a
a
elif
a
ot
gnitrw
si
siht

In [60]:
dic

{'a': 3, 'elif': 1, 'ot': 1, 'gnitrw': 1, 'si': 1, 'siht': 1}

#### Key Word argument and parameter values in function

In [5]:
# Mandotory Parameter
# Optional Parameter
# Keyword Parameter

'''
1. Key Word argument must be always at the last in the function 
   paramte EXCEPT **kwarg argument
2. While passing value, when started key word argument for a Manddotory
   Parameter all the follwing parameter must be key word argument
3. Mandotory parmeter should not come after *args argument,
   it should be key word argument
4. **kwarg must be placed allways last position in the function
'''


def greetings(greet='Hello',to='World'):
    return greet +' '+to+'!'

greetings('apple') # to argument is default
greetings(to = 'apple') # key word argument it gives the flexiblity to change the order

'Hello apple!'

In [7]:
# define all the Mandotory Parameter then defind Optional Parameter (at the end)

def greetings(to='World',greet): # this will throw error
    return greet +' '+to+'!'

In [20]:
def configure(cpu,ram,disk = '512 GB SSD', os = 'Window'):
    return 'Operating System = '+os+', Processor =' + cpu+'\
           , Memory = '+ram+', Storage = '+disk

#configure(cpu='15','8GB') # will throw error like positional argument follows keyword argument

#configure('15',ram='8GB') # this will work 
#configure(cpu='15',ram='8GB','216 GM SSD') # this will not work bcoz before 216 GM SSD we have key word argument
configure('15',ram = '8GB',disk='216 GM SSD') # this will workd

#Note: if you started using key word argument then after this arguument all must be key word argument

'Operating System = Window, Processor =15           , Memory = 8GB, Storage = 216 GM SSD'

#### Variable length Arguments

In [23]:
def grocery_order(customer_name,*items):
    print('Order received for:',customer_name)
    print('Single unit items:', str(items))
    
grocery_order('Apple','Bread','Tooth Paste')

Order received for: Apple
Single unit items: ('Bread', 'Tooth Paste')

In [25]:
def grocery_order(customer_name,*items, delivery_type = 'Home'):
    print('Order received for:',customer_name)
    print('Single unit items:', str(items))
    print('Delivery Type:',delivery_type)
    
grocery_order('Apple','Bread','Tooth Paste')
grocery_order('Apple','Bread','Tooth Paste',delivery_type='in house')

Order received for: Apple
Single unit items: ('Bread', 'Tooth Paste')
Delivery Type: Home
Order received for: Apple
Single unit items: ('Bread', 'Tooth Paste')
Delivery Type: in house

In [28]:
def grocery_order(customer_name,*items,item_with_qty = dict(eggs=12, milk= '1 lit'),delivery_type = 'Home'):
    print('Order received for:',customer_name)
    print('Single unit items:', str(items))
    print('Delivery Type:',delivery_type)
    print('Qnty: ', item_with_qty)
    
grocery_order('Apple','Bread','Tooth Paste')

Order received for: Apple
Single unit items: ('Bread', 'Tooth Paste')
Delivery Type: Home
Qnty:  {'eggs': 12, 'milk': '1 lit'}

In [31]:
def grocery_order(customer_name,*items,delivery_type = 'Home',**item_with_qty):
    print('Order received for:',customer_name)
    print('Single unit items:', str(items))
    print('Delivery Type:',delivery_type)
    print('Qnty: ', item_with_qty)
    
grocery_order('Apple','Bread','Tooth Paste', eggs=12, milk='1 lit')

Order received for: Apple
Single unit items: ('Bread', 'Tooth Paste')
Delivery Type: Home
Qnty:  {'eggs': 12, 'milk': '1 lit'}

In [51]:
lst = ['Austraiia', 'India', 'Austria', 'America', 'Russia', 'Iran']
def country(x):
    out = []
    for i in lst:
        if i[0]=='A':
            out.append(i)
        else:
            None
    return out
            
country(lst)

['Austraiia', 'Austria', 'America']

In [54]:
list(map(lambda x:x[0]=='A',lst))

[True, False, True, True, False, False]

In [83]:
candidate_details = [('Harry', 168), ('Jhonny', 160), ('Brad', 178), ('Chris', 172)]

sorted(candidate_details,key=lambda x:x[1])

[('Jhonny', 160), ('Harry', 168), ('Chris', 172), ('Brad', 178)]

In [85]:
lst1 = [1,5,8]
lst2 = [3,2,5]
lst3 = [2,3,6]
list(map(lambda x,y,z:x+y+z,lst1,lst2,lst3))

[6, 10, 19]

In [99]:
def student(name,**subject_marks):
    out = {}
    for i,j in subject_marks.items():
        if j >= 60:
            out[i] == j         
    print(f'Name:{name},Subjects:{out}')
    
#student('Apple','Mathematics'=80,'Physics'=58,'Chemistry'=62,'English'=72,'Biology'= 50)
student('Apple',Mathematics=80,Physics=58,Chemistry=62,English=72,Biology= 50)

KeyError: 'Mathematics'

In [116]:
def student(name,**subject_marks):
    out = []
    for i,j in subject_marks.items(): 
        if j > 60:
            out.append(i)
    print(f'Name: {name}  Subjects: {out}')

student('Apple',Mathematics=80,Physics=58,Chemistry=62,English=72,Biology= 50)

Name: Apple  Subjects: ['Mathematics', 'Chemistry', 'English']

#### Error Handling

In [4]:
def advance_by(die_input):
    if die_input <= 0:
        raise ValueError('Not a valid number, Enter a number greater than 0.')
    elif die_input > 6:
        raise ValueError('Not a valid number, enter a number smaller than 6.')
    else:
        print('Movied by you'+str(die_input))
    
try:
    advance_by(-1)
except ValueError as err:
    print(str(err))

Not a valid number, Enter a number greater than 0.

#### Error Handling user defined

In [6]:
class DieInputError(Exception):
    pass
class DieInputLowerBound(DieInputError):
    pass
class DieInputUpperBound(DieInputError):
    pass

def advance_by(die_input):
    if die_input <= 0:
        raise DieInputLowerBound('Not a valid number, Enter a number greater than 0.')
    elif die_input > 6:
        raise DieInputUpperBound('Not a valid number, enter a number smaller than 6.')
    else:
        print('Movied by you'+str(die_input))
    
try:
    advance_by(0)
except DieInputLowerBound:
    print('value <= 0')
except DieInputUpperBound:
    print('value > 6')

value <= 0