# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [19]:
#1 Create a tuple with the first 10 positive integers. Print the tuple.

x = (1,2,3,4,5,6,7,8,9)
type(x)
x
for i in x:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9

In [23]:
#2 Print the first, middle, and last elements of the tuple created in Assignment 1.

print(f'first element {x[0]}')
print(f'last element {x[-1]}')
print(f'middle element {x[int(len(x)/2)]}')

first element 1
last element 9
middle element 5

In [30]:
#3 Print the first three elements, the last three elements, and the elements 
# from index 2 to 5 of the tuple created in Assignment 1.

print(f'first three elements {x[:3]}')
print(f'last three elements {x[6:]}')
print(f'2 to 5 elements {x[2:5]}')

first three elements (1, 2, 3)
last three elements (7, 8, 9)
2 to 5 elements (3, 4, 5)

In [33]:
#4 Create a nested tuple representing a 3x3 matrix and print the matrix.
# Access and print the element at the second row and third column.

x = (((1,2,3),(4,5,6),(7,8,9)))
x[1][2]

6

In [36]:
#5 Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
x = (1,2,3)
y = (4,5,6)

z = x+y
print(z)

(1, 2, 3, 4, 5, 6)

In [42]:
#6 Create a tuple with duplicate elements and count the occurrences of an element. 
# Find the index of the first occurrence of an element in the tuple.

x = (1,1,1,3,4,5,7,7)
for i in x:
    print(f'count: {x.count(i)}')
print(f'index of first occurrence: {x.index(1)}')

count: 3
count: 3
count: 3
count: 1
count: 1
count: 1
count: 2
count: 2
 index of first occurrence: 0

In [45]:
#7 Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

x = (1,2,3,4,5)
a,b,c,d,e = x
print(a,b,c,d,e)

1 2 3 4 5

In [50]:
#8 Convert a list of the first 5 positive integers to a tuple. Print the tuple.
x = [1,2,3,4,5]

print(type(tuple(x)))

<class 'tuple'>

In [54]:
#9 Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
x = ((1,2,3),(4,5,6),(7,8,9))
type(x)
print(x[0],' ',x[1],' ',x[2])

(1, 2, 3)   (4, 5, 6)   (7, 8, 9)

In [64]:
#10 Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, 
# and convert it back to a tuple. Print the resulting tuple.

x = (1,2,3,4,5)
type(x)
y = list(x)
type(y)
y.append(6)
y
z = tuple(y)
type(z)
z

(1, 2, 3, 4, 5, 6)

In [65]:
#11 Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

x = ('a','b','c')
y = ''.join(x)
y

'abc'

In [68]:
#12 Create a dictionary with tuple keys and integer values. Print the dictionary.

x = ({'name':'zb','value':0})
x['name']

'zb'

In [72]:
#13 Create a nested tuple and iterate over the elements, printing each element.

x = (((1,2,3),('a','b',('a1','b2'))))
x[1][2][1]

'b2'

In [74]:
#14 Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

x = (1,1,1,1,3,5)
y = set(x)
y

{1, 3, 5}

In [78]:
#15 Write functions that take a tuple and return the minimum, maximum, and sum of the elements.
# Print the results for a sample tuple.

x = (1,2,3,10,5,9)

def sample(x):
    print(f'maximum value:{max()})

30