- in order to work with multiple positional arguments in sum(), we have to pass as tuple 
- def myfunc(*args): # creates tuple data type structure and allow to pass multiple values
    		return sum(args) * 0.5

<B>FUNCTIONS</B>

In [4]:
def name_of_fuction():
        '''
        DOCSTRING: Information about the function
        INPUT: no input..
        OUTPUT: Hello..
        '''
        print('Hello')

In [6]:
name_of_fuction()

Hello

<b>FUNCTION WITH ONE PARAMETER</B>

In [13]:
def say_hello(name):
    print('Hello '+name)

In [14]:
say_hello('frank')

Hello frank

<b>FUNCTION WITH DEFAULT PARAMETER</B>

In [15]:
def say_hello(name='FRANK'):
    print('Hello '+name)

In [17]:
say_hello()

Hello FRANK

<b>FUNCTION WITH RETURN <B>

In [18]:
def say_hello(name='Frank'):
    return 'Hello '+name

In [19]:
result=say_hello('Jose')
result

'Hello Jose'

In [20]:
def piglatin(word):
    first_letter = word[0]
    if first_letter in 'aeiou':
        pig_word=word+'ay'
    else:
        pig_word=word[1:]+first_letter+'ay'
    return pig_word

In [23]:
piglatin('0pple')

'pple0ay'

<b>Solution link for the problems </b>

https://docs.google.com/document/d/181AMuP-V5VnSorl_q7p6BYd8mwXWBnsZY_sSPA8trfc/edit?usp=sharing

<b>Function #1: Print Hello Word</b><br>
    Write a function called 'myfunc' that prints the string 'Hello World'

In [24]:
def myfunc():
    print('Hello World')

In [25]:
myfunc()

Hello World

<b>Function #2: Print Hello Word</b><br>
Define a function called myfunc that takes in a name, and prints 'Hello Name'

In [51]:
def myfunc(name='Name'):
    print('Hello '+name)

In [53]:
myfunc()

Hello Name

<b>Function #3: Print Hello Word</b><br>
Define a function called myfunc that thakes in a Boolean value (True or False). If True return 'Hello', and if False return 'Goodbye'

In [55]:
def myfunc(a):
    if a >= 0:
        return 'Hello'
    else:
        return 'Goodbye'

In [58]:
myfunc(-1)

'Goodbye'

<b>Function #4: Print Hello Word</b><br>
Defind a function called myfunc that takes three arguments x,y and z if z is True, return x, if z is false return y

In [69]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

In [70]:
myfunc('a','b','c')

'b'

<b>Function #5: Print Hello Word</b><br>
Define a function called myfunc that takes in two arguments adn returns their sum

In [71]:
def myfunc(a,b):
    return a+b

In [72]:
myfunc(4,5)

9

<b>Function #6: Print Hello Word</b><br>
Define a function called 'is_even' that takes in one arguments, and returns True if the passed-in value is even, False if it is not

In [73]:
def is_even(x):
    return x%2==0

In [75]:
is_even(11)

False

<b>Function #7: Print Hello Word</b><br>
Define a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second

In [76]:
def is_greater(a,b):
    return a > b

In [79]:
is_greater(-1,1)

False

<b>*args and **kwargs (arguments to create tuples, keyword argumet to create dictinary</b>

In [3]:
def myfun(a,b):
    return max(a,b) * 0.5

In [4]:
myfun(50,60)

30.0

In [5]:
def myfunc(*args): # creates tuple data type structure and allow to pass multiple values
    return sum(args) * 0.5

In [6]:
myfunc(40,60,100,1,34)

117.5

In [11]:
def myfunc(**kwargs): # **kwargs creted dictionary and allows to pass multiple 'key' 'values'
        print(kwargs)
        if 'fruits' in kwargs:
            print('My fruit of choice is {}'.formar(kwargs['fruit']))
        else:
            print('I did not find any fruit here')

In [12]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
I did not find any fruit here

<B>COMBINATION OF *args and **kwargs</b>

In [13]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [14]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

<b>Function #8: *args</b><br>
Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments

In [15]:
def myfunc(*args):
    return sum(args)

In [16]:
myfunc(12,46,39)

97

<b>Function #9: pick even</b><br>
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even

In [17]:
def myfunc(*args):
    return [x for x in args if x%2==0]

In [20]:
myfunc(10,11,43,57,77,99,40)

[10, 40]

<b>Function #10: skyline</b><br>
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase.  Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctiation.  The output string can start with either an uppercase or lowercase letter, so long as letters alternae throughout the string.

In [26]:
def myfunc(name):
    cons=list(range(0,len(name)))
    rt=[]
    for i in cons:
        if i%2 !=0:
            rt +=name[i].lower()
        else:
            rt +=name[i].upper()
    return rt

In [27]:
myfunc('francisxavier')

['F', 'r', 'A', 'n', 'C', 'i', 'S', 'x', 'A', 'v', 'I', 'e', 'R']

In [39]:
for i,j in enumerate('francisxavier'):
    #print(j)
    rt = ''
    if i%2 ==0:
        rt += j.upper()
        #print(j)
    else:
        rt += j.lower()
    print(rt)

F
r
A
n
C
i
S
x
A
v
I
e
R

In [ ]:
x ='xdfasdfasdg'
rs = ''
for i in x:
    if (x.index(i))%2 ==0:
        rs +=i.upper()
    else :
        rs += i.lower()

In [41]:
def myfunc(name):
    rt = ''
    for i,j in enumerate(name):
        if i%2==0:
            rt += j.upper()
        else:
            rt += j.lower()
    return rt

In [42]:
myfunc('francisxavier')

'FrAnCiSxAvIeR'

<B>FUNCTION PRACTICE EXERCISES</B>

In [89]:
#Write a function that returns the lesser of two given numbers if both numbers are even, but returns the 
#greater if one or both numbers are odd¶
def even_odd(*args):
    if args[0] %2 ==0 and args[1]%2==0:
        rt = min(args)
    else:
        rt = max(args)
            
    return rt

In [90]:
even_odd(2,5,6)

6

In [93]:
def odd_even(a,b):
    rt=0
    if a%2 ==0 and b%2 ==0:
        rt = min(a,b)
    else:
        rt = max(a,b)
    return rt

In [97]:
odd_even(2,5)

5

In [125]:
'''ANIMAL CRACKERS: Write a function takes a two-word string and 
returns True if both words begin with same letter'''
def word_fun(a):
    x = a.split()
    return x[0][0] == x[1][0]

In [127]:
word_fun('Levelheaded llama')

False

In [142]:
'''MAKES TWENTY: Given two integers, return True if the sum of 
the integers is 20 or if one of the integers is 20. If not, return False
'''
def int20(a,b):
    if sum((a,b)) ==20:
        return True
    elif a == 20 or b ==20:
        return True
    else:
        return False

<b><h3>LEVEL 1 PROBLEMS</h3></b>

In [176]:
'''OLD MACDONALD: Write a function that capitalizes the first and 
fourth letters of a name
'''
def mec(name):
    rt=''
    for i,j in enumerate(name):
        if i == 0 or i ==3:
            rt += j.upper()
        else:
            rt += j
    return rt

In [178]:
mec('macdonald')

'MacDonald'

In [334]:
'''
MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list 
with some connector string. 
For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them 
with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"
'''

def reverse(text):
    return ' '.join(text.split()[::-1])

In [335]:
reverse('i am home')

'home am i'

In [333]:
x = 'i am home'

y=(x.split())
rt = ''
for i in y[::-1]:
    #print(i)
    rt += i
print(rt)
print(' '.join(y[::-1]))

homeami
home am i

In [2]:
'''ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number
'''
def small_10(n):
    return (abs(100 - n) <=10 or abs(200-n) <=10)

In [3]:
small_10(90)

True

<b><h3>LEVEL 2 PROBLEMS</h3></b>

In [340]:
'''
FIND 33:¶
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False
'''

'\nFIND 33:¶\nGiven a list of ints, return True if the array contains a 3 next to a 3 somewhere.\n\nhas_33([1, 3, 3]) → True\nhas_33([1, 3, 1, 3]) → False\nhas_33([3, 1, 3]) → False\n'

In [11]:
def find_33(a):
    j = 0
    k = None
    for i in a[1::1]:
        if a[j] == i:
            k = 'True'
        else:
            k = 'False'
        j +=1
    return k

In [13]:
find_33([3,1,3])

'False'

In [14]:
a =[3,3,1,3,3,1]
j = 0
for i in a[1::1]:
    print(i)
    if a[j] == i:
        print('T')
    else:
        print('F')
    j +=1

3
T
1
F
3
F
3
T
1
F

In [15]:
'''PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
'''
def doll(a):
    rt =[]
    for i in a:
        rt += i*3
    return ''.join(rt)

In [16]:
doll('Hello')

'HHHeeellllllooo'

In [483]:
for i in 'Hello':
    print(i*3,end='')

HHHeeellllllooo

In [524]:
'''BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, 
return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, 
if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19'''
def blackjack(a,b,c):
    d = sum((a,b,c))
    rt = None
    if (a <=11 and a >=1) and (b <=11 and b >=1) and (c <=11 and c >=1):
        if d <= 21:
            rt = (d)
        elif 11 in (a,b,c) and d > 21:
            rt = (d -10)
        elif d > 21:
            rt ='BURST'
        else:
            None
    else:
        None
    return rt

In [525]:
blackjack(9,9,11)

19

In [516]:
a = 9
b = 9
c = 9
d = sum((a,b,c)) #a+b+c
print(d)
rt = None
if (a <=11 and a >=1) and (b <=11 and b >=1) and (c <=11 and c >=1):
    if d <= 21:
        rt = (d)
    elif 11 in (a,b,c) and d > 21:
        rt = (d -10)
    elif d > 21:
        rt ='BURST'
    else:
        None
else:
    None
print(rt)

27
BURST

In [526]:
'''SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting 
with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14'''

"SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.\nsummer_69([1, 3, 5]) --> 9\nsummer_69([4, 5, 6, 7, 8, 9]) --> 9\nsummer_69([2, 1, 6, 9, 11]) --> 14"

In [697]:
def summer_69(arr):
    b=0
    c=0
    d= None
    
    for i,j in enumerate(arr):
        if j == 6:
            b = i
        elif j == 9:
            c = i
    print(b,c)
    return  sum(arr[:])- sum(arr[b:c+1])

In [699]:
summer_69([2, 1, 6, 9, 11])

2 3

14

In [700]:
#a = [2, 1, 6, 9, 11]
#a = [2, 1, 6, 9, 11]
a =[1,3,5]
b = 6
c =9
for i,j in enumerate(a):
    #print(i,j)
    if j == 6:
        b = i
    elif j ==9:
        c =i
print(b,c)

6 9

In [650]:
rt = sum(a[0:]) - sum(a[b:c+1])

In [651]:
rt

9

<b><h3>CHALLENGING PROBLEMS</h3></b>

In [701]:
'''SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False'''

'SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order\n spy_game([1,2,4,0,0,7,5]) --> True\n spy_game([1,0,2,4,0,5,7]) --> True\n spy_game([1,7,2,0,4,5,0]) --> False'

In [145]:
def spy_game(nums=0):
    a =''
    b =''
    for i in nums[::]:
        if i == 0 or i == 7:
            a += str(i)
            if a == '007':
                b = 'True'
                break
        else:
            b = 'False'
    return b

In [148]:
spy_game([1,2,4,0,0,7,5])

'True'

In [122]:

#a = [1,7,2,0,4,5,0]
#a = [1,0,2,4,0,5,7]
a =[1,2,4,0,0,7,5]
b = len(a)
c = ''
d =''


for i in a[:7:]:
    if i == 0 or i ==7:
        c += str(i)
        if c =='007':
            d ='T'
            break
    else:
        d ='F'
print(d)

T

In [121]:

'''while b > 0:

    for c in a:
        print(c)
        print(a)
    b -=1
     for i,j in enumerate(a):
    print(i,j),'\n')
    c = c.append(j)'''

"while b > 0:\n\n    for c in a:\n        print(c)\n        print(a)\n    b -=1\n     for i,j in enumerate(a):\n    print(i,j),'\n')\n    c = c.append(j)"

In [143]:
#a = [1,7,2,0,4,5,0]
#a = [1,0,2,4,0,5,7]
#a =[1,2,4,0,0,7,5]
def spy_game():
    nums= [1,7,2,0,4,5,0]
    a =''
    b =''
    for i in nums[::]:
        if i == 0 or i == 7:
            a += str(i)
            if a == '007':
                b = 'True'
                break
        else:
            b = 'False'
    return b

In [144]:
spy_game()

'False'

In [149]:
'''COUNT PRIMES: Write a function that returns the number of prime numbers that exist 
up to and including a given number
count_primes(100) --> 25
By convention, 0 and 1 are not prime.'''

'COUNT PRIMES: Write a function that returns the number of prime numbers that exist \nup to and including a given number\ncount_primes(100) --> 25\nBy convention, 0 and 1 are not prime.'

<b>Properties of Prime Numbers</b><br>
Some of the properties of prime numbers are:

Every number greater than 1 can be divided by at least one prime number.<br>
Every even positive integer greater than 2 can be expressed as the sum of two primes.<br>
Except 2, all other prime numbers are odd. In other words, we can say that 2 is the only even prime number.

In [215]:
def count_prime(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [216]:
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

<b>Lambda Expressions Map and Filter: </b></br>
 - map(func, *iterables) -> map objects <br>
 - Make an iterator that computes the function using arguments from each of the iterables.  Stops when the shortest iterable is exhausted.
<br>
<br>
<b>MAP Function</B>

In [221]:
def squre(num):
    return num **2

my_num = [1,2,3,4,5]
for item in map(squre, my_num):
    print(item, end =' ')
# ======in list form ======

list(map(squre,my_num))

1 4 9 16 25

[1, 4, 9, 16, 25]

In [3]:
name =['Andy','Eve','Sally']
for i,j in enumerate(name):
    if len(j)%2 ==0:
        print('Even')
    else:
        print(name[i][0], end =' ')

Even
E S

In [2]:
def splicer(mystring):
    if len(mystring)%2 ==0:
        return 'EVEN'
    else:
        return mystring[0]
    
name =['Andy','Eve','Sally']
list(map(splicer,name))

['EVEN', 'E', 'S']

<b>FILTER FUNCTION </B><br>
- Fiter Function acts only if the applied function is TRUE / FALSE

In [5]:
def check_even(num):
    return num%2 ==0

mynums =[1,2,3,4,5,6,7]
list(filter(check_even,mynums))

[2, 4, 6]

<b>LAMBDA EXPRESSION<b><BR>
  - Lambda function is anonymous function, used when functin requred for onc time only
  - Lambda function works in conjucton with MA{ / FILTER Fuction

In [261]:
def squre(num):
    result = num**2
    return result
# can be re-written as
def squre(num):
    return num**2
# still can be re-written as 
def squre(num): return num**2
# Turn this into lamda expression as
squre=lambda num: num**2
# Usually lambda function works in conjunction with MAP / Filter function
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36, 49]

In [260]:
squre(3)

9

In [6]:
def check_even(num):
    return num%2 ==0
list(map(lambda num: num%2==0,mynums))

[False, True, False, True, False, True, False]

<b>Nested Statements and Scope</b><br>
- LEGB Rule<br>
	L Local - Names assigned in any way within a function (def or lambda), and not declared global in that function<br>
	E Enclosing function locals - Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer<br>
	G Global(module) - Names assigned at the top-level of a nodule file, or declared global in a def within the file.<br>
	B Built-in (Python) - Names preassigned in the built-in names module like… open, range, SyntaxError,..<br>

In [265]:
name ='THIS IS A GLOBAL STRING' # global variable (G)
def outer():
    name = 'Sammy'# acts as Enclosing function local (E)
    def inner(): # no local variable assinged (L)
        #name = 'I AM LOCAL'
        print('Hello ',name)
    inner()
    
outer()

Hello  Sammy

<b><h3>Functions and Methods Homework</h3></b>

In [268]:
'''Write a function that computes the volume of a sphere given its radius.

The volume of a sphere is given as
43π𝑟3</p>'''

'Write a function that computes the volume of a sphere given its radius.\n\nThe volume of a sphere is given as\n43π𝑟3</p>'

In [ ]:
def vol(x):
    return (4/3)*3.14*x**3

In [269]:
x = 2
(4/3)*3.14*x**3

33.49333333333333

In [282]:
'''Write a function that checks whether a number is in a given range (inclusive of high and low)'''

def ran_check(num,low,high):
    if num in range(low,high):
        return str(num) + ' is in the range between ' + str(low) +' and '+ str(high)

In [283]:
ran_check(5,2,7)

'5 is in the range between2 and 7'

In [288]:
'''If you only wanted to return a boolean:'''
def ran_check(num,low,high):
    return [True if num in range(low,high) else False ]

In [291]:
ran_check(5,2,7)

[True]

In [292]:
'''Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
HINT: Two string methods that might prove useful: .isupper() and .islower()'''

"Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.\n\nSample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'\nExpected Output : \nNo. of Upper case characters : 4\nNo. of Lower case Characters : 33\nHINT: Two string methods that might prove useful: .isupper() and .islower()"

In [319]:
def up_low(s):
    a =0
    b =0
    for i in s:
        a += i.isupper()
        b += i.islower() 
    print(f'Original String: {s}\nNo. of Upper case characters: {a}\nNo. of Lower case Characters: {b}')

In [320]:
up_low('Francis Xavier')

Original String: Francis Xavier
No. of Upper case characters: 2
No. of Lower case Characters: 11

In [297]:
a =0
b =0
for i in 'Francis Xavier':
    a += i.isupper()
    b += i.islower()
print(a,b)

2 11

In [321]:
'''Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]'''

'Write a Python function that takes a list and returns a new list with unique elements of the first list.\n\nSample List : [1,1,1,1,2,2,3,3,3,3,4,5]\nUnique List : [1, 2, 3, 4, 5]'

In [343]:
def uniqu_list(lst):
    return list(set(lst))

In [344]:
uniqu_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [340]:
a = [1,1,1,1,2,2,3,3,3,3,4,5]
b = set(a)
#c = list(b)
print(list(set(a)))
c =[]
for i in b:
    c.append(i)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [345]:
'''Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24'''

'Write a Python function to multiply all the numbers in a list.\n\nSample List : [1, 2, 3, -4]\nExpected Output : -24'

In [17]:
def multiply(numbers):
    b = numbers[0]
    for i in numbers[1:len(numbers)+1:]:
        b *= i
    return b

In [18]:
multiply([1, 2, 3, -4])

1

-24

In [19]:
a= [1, 2, 3, -4]
b[0] = a[0]
print(b)
for i in a[1:len(a)+1:]:
    b[0] *= i
print(b)

NameError: name 'b' is not defined

In [354]:
a= [1, 2, 3, -4]
b = a [0]
for i in a[1:len(a)+1:]:
    b *=i
print(b)

-24

In [371]:
'''Write a Python function that checks whether a passed in string is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, 
e.g., madam or nurses run.'''

def palindrome(s):
    a = s.split()
    b = ''
    for i in a:
        b +=i
    return b[::-1] == b[::]

In [372]:
palindrome('nurses run')

True

In [370]:
a = 'nurses run'.split()
b =''
for i in a:
    b += i
    
'''if a[::-1] == a [::]:
    print('T')
else:
    print('f')'''
print(b)

nursesrun

In [373]:
'''Write a Python function to check whether a string is pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"
Hint: Look at the string module'''

'Write a Python function to check whether a string is pangram or not.\n\nNote : Pangrams are words or sentences containing every letter of the alphabet at least once.\nFor example : "The quick brown fox jumps over the lazy dog"\nHint: Look at the string module'

In [64]:
def inner():
    a ='abcdefghijklmnopqrstuvwxyz'
    b=''.join("The quick brown fox jumps over the lazy dog".lower().split())
    c = len(b)
    d = 0
    rt = ''

    while d < len(a):
        for i in b[::]:
            if a[d]== i:
                rt += a[d]         
        d += 1
    return set(rt) == set(a)

In [65]:
inner()

True

In [81]:
import string
def ispangram(str1, alphabet=string.ascii_lowercase):
    print(alphabet)
    alphaset = set(alphabet)
    print(alphaset)
    #return alphaset <= set(str1.lower())
    print(set(str1.lower()))

In [85]:
print(set("The quick brown fox jumps over the lazy dog".lower()))

{'o', 'w', 's', 'i', 'r', 'h', 'a', 'v', 'f', 'c', 'm', 'k', 'q', 'x', 'y', 'b', 'e', 'j', 'n', 'd', 'z', 'g', 'u', 'p', 'l', ' ', 't'}

In [83]:
ispangram("The quick brown fox jumps over the lazy dog")

abcdefghijklmnopqrstuvwxyz
{'o', 'w', 's', 'i', 'r', 'h', 'a', 'v', 'f', 'c', 'm', 'k', 'q', 'x', 'y', 'b', 'e', 'j', 'n', 'd', 'z', 'g', 'u', 'p', 'l', 't'}
{'o', 'w', 's', 'i', 'r', 'h', 'a', 'v', 'f', 'c', 'm', 'k', 'q', 'x', 'y', 'b', 'e', 'j', 'n', 'd', 'z', 'g', 'u', 'p', 'l', ' ', 't'}

In [100]:
a ='abc'
b ='defabc'
if set(b) >= set(a):
    print('T')
else:
    print('F')

T