In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basic').getOrCreate()

24/11/23 00:17:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/23 00:17:39 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/11/23 00:17:39 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/11/23 00:17:39 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/11/23 00:17:39 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/11/23 00:17:39 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [2]:
results_df = spark.read.option('header',True).option('inferSchema',True).format('csv').load('tbls/presentation/race_results_twoyears/race_results_twoyears.csv')

In [19]:
results_df.createOrReplaceTempView('v_race_results')

In [20]:
spark.sql('select count(*) from v_race_results where race_year=2020').show()

+--------+
|count(1)|
+--------+
|     340|
+--------+

In [21]:
results_df.createOrReplaceGlobalTempView('vg_race_results')

In [22]:
spark.sql('select count(*) from global_temp.vg_race_results where race_year=2020').show()

+--------+
|count(1)|
+--------+
|     340|
+--------+

In [29]:
CREATE DATABASE IF NOT EXISTS test

SyntaxError: invalid syntax (4227086224.py, line 1)

In [36]:
spark.sql(select databases)

SyntaxError: invalid syntax (4225835919.py, line 1)